name: xLua

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-osx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: download dep
      run:  wget https://dl.google.com/android/repository/android-ndk-r21-darwin-x86_64.zip -O ~/android-ndk-r21-darwin-x86_64.zip
    - name: install dep
      run: cd ~/ && unzip android-ndk-r21-darwin-x86_64.zip
    - name: osx-lua53
      run: cd ./build && ./make_osx_lua53.sh
    - name: ios-lua53
      run: cd ./build && ./make_ios_lua53.sh
    - name: android-lua53
      run: cd ./build && ./make_android_lua53.sh
    - name: archive files
      run: ls -al && cd ./build && tar cvf plugin_lua53-osx.tar plugin_lua53/
    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: plugin_lua53-osx.tar
        path: build/plugin_lua53-osx.tar
