name: xLua

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-osx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: ls
      run: ls -al
    - name: lua53
      run: cd build && make_osx_lua53.sh
